.arrow {
  width: 0.5em;
  height: 1em;
  fill: none;
}
.audio {
  width: 0.81em;
  height: 1em;
  fill: none;
}
.circle {
  width: 1em;
  height: 1em;
  fill: none;
}
.comms {
  width: 1em;
  height: 1em;
  fill: none;
}
.heart {
  width: 1.15em;
  height: 1em;
  fill: none;
}
.music {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.share {
  width: 1.14em;
  height: 1em;
  fill: none;
}