---
title: musician
---
{% extends "app/pages/layout/_main.html" %}

{% block content %}

<!-- begin topline -->
<div class="topline">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="col-sm-12 menu">
				<nav>
					<ul class="topline__menu">
						<li><a class="active" href="#about">ABOUT</a></li>
						<li><a href="#discography">DISCOGRAPHY</a></li>
						<li><a href="#concert">Concert concert</a></li>
						<li><a href="#lattercom">Latter compositions</a></li>
						<li><a href="#news">New tracks</a></li>
						<li><a href="#events">Upcoming Events</a></li>
						<li><a href="#history">History</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<button class="menu__toggle">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</nav>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</div>
<!-- end topline -->
<!-- begin header -->
<header class="header" id="about" style="background-image: url('images/hero.jpg');">
	<!-- begin header__text -->
	<div class="header__text"></div>
	<!-- end header__text -->
	<div id="smoke"></div>
</header>
<!-- end header -->
<!-- begin discography -->
<section class="discography" id="discography">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6">
				<h1 class="main__title red">
					Discography
				</h1>
			</div>
		</div>
		<!-- end row -->
		<!-- begin row -->
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				<p class="main__description">
					September 4 world heard Night Visions, the first full album. He reached the 2 position in the chart Billboard 200. The single «It's Time» took 22 th place in the Billboard Hot 100, 4th in the Billboard Alternative and Billboard Rock, and now went platinum.
				</p>
			</div>
		</div>
		<!-- end row -->
		<!-- begin row -->
		<div class="row">
			<!-- begin discography__item -->
			<div class="discography__item">
				<div class="col-sm-5">
					<div class="discography__category">
						<div class="year">
							2010
						</div>
						<div class="category">
							<a href="#">Hell and silence</a>
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="discography__title">
						<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
					</div>
					<div class="discography__text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
						</p>
						<a href="#" class="button white stone">play</a>
					</div>
				</div>
			</div>
			<!-- end discography__item -->
			<!-- begin discography__item -->
			<div class="discography__item">
				<div class="col-sm-5">
					<div class="discography__category">
						<div class="year">
							2010
						</div>
						<div class="category">
							<a href="#">Hell and silence</a>
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="discography__title">
						<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
					</div>
					<div class="discography__text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
						</p>
						<a href="#" class="button palm">play</a>
					</div>
				</div>
			</div>
			<!-- end discography__item -->
			<!-- begin discography__item -->
			<div class="discography__item">
				<div class="col-sm-5">
					<div class="discography__category">
						<div class="year">
							2010
						</div>
						<div class="category">
							<a href="#">Hell and silence</a>
						</div>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="discography__title">
						<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
					</div>
					<div class="discography__text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
						</p>
						<a href="#" class="button foliage">play</a>
					</div>
				</div>
			</div>
			<!-- end discography__item -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end discography -->
<!-- begin concert -->
<section class="concert" id="concert">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6">
				<h2 class="main__title blue__gradient">
					Concert tours
				</h2>
			</div>
		</div>
		<!-- end row -->
		<!-- begin row -->
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				<p class="main__description">
					September 4 world heard Night Visions, the first full album. He reached the 2 position in the chart Billboard 200. The single «It's Time» took 22 th place in the Billboard Hot 100, 4th in the Billboard Alternative and Billboard Rock, and now went platinum.
				</p>
			</div>
		</div>
		<!-- end row -->
		<!-- begin row -->
		<div class="row">
			<!-- begin concert__item -->
			<div class="concert__item">
				<div class="col-sm-7">
					<div class="concert__category">
						<div class="year">
							2010
						</div>
						<div class="category">
							<a href="#">Hell and silence</a>
						</div>
					</div>
					<div class="concert__title">
						<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
					</div>
					<div class="concert__text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
						</p>
						<a href="#" class="button with__border svg">Buy online {{mixins.svg('arrow')}}</a>
					</div>
				</div>
			</div>
			<!-- end concert__item -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end concert -->
<!-- begin lattercom -->
<section class="lattercom" id="lattercom">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8">
				<h3 class="main__title black">
					 latter compositions
				</h3>
			</div>
		</div>
		<!-- end row -->
		<!-- begin row -->
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				<p class="main__description">
					"It's Time" was released as the lead single from Continued Silence and It's Time, both extended plays preceding Night Visions' release.
				</p>
			</div>
		</div>
		<!-- end row -->
		<!-- begin lattercon__item text__left -->
		<div class="lattercon__item info__left">
			<!-- begin lattercon__info -->
			<div class="lattercon__info">
				<div class="lattercon__category">
					<div class="year">
						2010
					</div>
					<div class="category">
						<a href="#">Hell and silence</a>
					</div>
				</div>
				<div class="lattercon__title">
					<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
				</div>
				<div class="lattercon__text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
					</p>
					<div class="lattercon__sub">
						<div class="lattercon__sub-left">
							<a href="#" class="button with__border svg">Buy online {{mixins.svg('arrow')}}</a>
						</div>
						<div class="lattercon__sub-right">
							<ul class="sub">
								<li><span class="audio">{{mixins.svg('audio')}}182,364</span></li>
								<li><span class="heart">{{mixins.svg('heart')}}10k</span></li>
								<li><span class="share">{{mixins.svg('share')}}<a href="#">3k</a></span></li>
								<li><span class="comms">{{mixins.svg('comms')}}<a href="#">96</a></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end lattercon__info -->
			<!-- begin lattercon__video -->
			<div class="lattercon__video">
				<video autoplay loop controls>
					<source src="video/Into_the_Wild.mp4" type="video/mp4" />
					<source src="video/Into_the_Wild.webm" type="video/webm" />
				</video>
			</div>
			<!-- end lattercon__video -->
		</div>
		<!-- end lattercon__item text__left -->
		<!-- begin lattercon__item text__right -->
		<div class="lattercon__item info__right">
			<!-- begin lattercon__info -->
			<div class="lattercon__info">
				<div class="lattercon__category">
					<div class="year">
						2010
					</div>
					<div class="category">
						<a href="#">Hell and silence</a>
					</div>
				</div>
				<div class="lattercon__title">
					<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
				</div>
				<div class="lattercon__text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
					</p>
					<div class="lattercon__sub">
						<div class="lattercon__sub-left">
							<a href="#" class="button with__border svg">Buy online {{mixins.svg('arrow')}}</a>
						</div>
						<div class="lattercon__sub-right">
							<ul class="sub">
								<li><span class="audio">{{mixins.svg('audio')}}182,364</span></li>
								<li><span class="heart">{{mixins.svg('heart')}}10k</span></li>
								<li><span class="share">{{mixins.svg('share')}}<a href="#">3k</a></span></li>
								<li><span class="comms">{{mixins.svg('comms')}}<a href="#">96</a></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end lattercon__info -->
			<!-- begin lattercon__video -->
			<div class="lattercon__video">
				<video autoplay loop controls>
					<source src="video/Into_the_Wild.mp4" type="video/mp4" />
					<source src="video/Into_the_Wild.webm" type="video/webm" />
				</video>
			</div>
			<!-- end lattercon__video -->
		</div>
		<!-- end lattercon__item text__right -->
		<!-- begin lattercon__item text__left -->
		<div class="lattercon__item info__left">
			<!-- begin lattercon__info -->
			<div class="lattercon__info">
				<div class="lattercon__category">
					<div class="year">
						2010
					</div>
					<div class="category">
						<a href="#">Hell and silence</a>
					</div>
				</div>
				<div class="lattercon__title">
					<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
				</div>
				<div class="lattercon__text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
					</p>
					<div class="lattercon__sub">
						<div class="lattercon__sub-left">
							<a href="#" class="button with__border svg">Buy online {{mixins.svg('arrow')}}</a>
						</div>
						<div class="lattercon__sub-right">
							<ul class="sub">
								<li><span class="audio">{{mixins.svg('audio')}}182,364</span></li>
								<li><span class="heart">{{mixins.svg('heart')}}10k</span></li>
								<li><span class="share">{{mixins.svg('share')}}<a href="#">3k</a></span></li>
								<li><span class="comms">{{mixins.svg('comms')}}<a href="#">96</a></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end lattercon__info -->
			<!-- begin lattercon__video -->
			<div class="lattercon__video">
				<video autoplay loop controls>
					<source src="video/Into_the_Wild.mp4" type="video/mp4" />
					<source src="video/Into_the_Wild.webm" type="video/webm" />
				</video>
			</div>
			<!-- end lattercon__video -->
		</div>
		<!-- end lattercon__item text__left -->
	</div>
	<!-- end container -->
</section>
<!-- end lattercom -->
<!-- begin slider -->
<section class="slider" id="slider">
	<div class="slider__buttons">
		<a href="#" class="slider__prev">{{mixins.svg('arrow')}}</a>
		<a href="#" class="slider__next">{{mixins.svg('arrow')}}</a>
	</div>
	<!-- begin container -->
	<div class="container">
		<!-- begin slider__wrap -->
		<div class="slider__wrap">
			<div class="slider__items">
				<!-- begin item -->
				<div class="item">
					<div class="slider__icon">
						{{mixins.svg('music')}}
					</div>
					<!-- begin row -->
					<div class="row">
						<div class="col-sm-offset-3 col-sm-6">
							<div class="slider__title">
								In 2008, lead singer Dan Reynolds met drummer Andrew Tolman at Brigham Young University where they were both students
							</div>
							<div class="slider__quote">
								<p class="main__description">
									September 4 world heard Night Visions, the first full album. He reached the 2 position in the chart Billboard 200. The single «It's Time» took 22 th place in the Billboard Hot 100, 4th in the Billboard Alternative and Billboard Rock, and now went platinum.
								</p>
								<span class="slider__quote-end">
									- Early years (2008–10)
								</span>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end item -->
				<!-- begin item -->
				<div class="item">
					<div class="slider__icon">
						{{mixins.svg('music')}}
					</div>
					<!-- begin row -->
					<div class="row">
						<div class="col-sm-offset-3 col-sm-6">
							<div class="slider__title">
								In 2008, lead singer Dan Reynolds met drummer Andrew Tolman at Brigham Young University where they were both students
							</div>
							<div class="slider__quote">
								<p class="main__description">
									Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Встретил маленький, ты реторический одна составитель использовало всеми заглавных свою, оксмокс образ меня путь океана, рекламных даже выйти вопроса которое!
								</p>
								<span class="slider__quote-end">
									- Early years (2008–10)
								</span>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end item -->
				<!-- begin item -->
				<div class="item">
					<div class="slider__icon">
						{{mixins.svg('music')}}
					</div>
					<!-- begin row -->
					<div class="row">
						<div class="col-sm-offset-3 col-sm-6">
							<div class="slider__title">
								In 2008, lead singer Dan Reynolds met drummer Andrew Tolman at Brigham Young University where they were both students
							</div>
							<div class="slider__quote">
								<p class="main__description">
									Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Собрал строчка, свое большого если маленькая дорогу имени своего пор они, раз дороге курсивных послушавшись вопрос заманивший имеет прямо коварный пунктуация домах парадигматическая решила продолжил свой! Текст сих родного маленький, строчка сбить ведущими буквенных, единственное решила первую лучше своих текста проектах! Последний, свой не. Безопасную обеспечивает, то рекламных путь дороге всеми текстами свое, использовало семь прямо своего вершину. Лучше инициал речью путь, использовало злых, если пустился заглавных ipsum снова назад языком запятой несколько обеспечивает продолжил семь страну большого вдали он текста свое жизни там безорфографичный всемогущая. Переулка своего парадигматическая, запятых.
								</p>
								<span class="slider__quote-end">
									- Early years (2008–10)
								</span>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end item -->
			</div>
		</div>
		<!-- end slider__wrap -->
	</div>
	<!-- end container -->
</section>
<!-- end slider -->
<!-- begin news -->
<section class="news" id="news">
	<!-- begin container -->
	<div class="container">
		<div class="news__items">
			<!-- begin news__item -->
			<div class="news__item" style="background-image: url('http://placehold.it/640x480');">
				<div class="news__category">
					<div class="year">
						2010
					</div>
					<div class="category">
						<a href="#">Hell and silence</a>
					</div>
				</div>
				<div class="news__title">
					<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
				</div>
				<div class="news__text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
					</p>
				</div>
				<div class="news__number">
					01
				</div>
			</div>
			<!-- end news__item -->
			<!-- begin news__item -->
			<div class="news__item" style="background-image: url('http://placehold.it/640x480');">
				<div class="news__category">
					<div class="year">
						2010
					</div>
					<div class="category">
						<a href="#">Hell and silence</a>
					</div>
				</div>
				<div class="news__title">
					<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
				</div>
				<div class="news__text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
					</p>
				</div>
				<div class="news__number">
					02
				</div>
			</div>
			<!-- end news__item -->
			<!-- begin news__item -->
			<div class="news__item" style="background-image: url('http://placehold.it/640x480');">
				<div class="news__category">
					<div class="year">
						2010
					</div>
					<div class="category">
						<a href="#">Hell and silence</a>
					</div>
				</div>
				<div class="news__title">
					<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
				</div>
				<div class="news__text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
					</p>
				</div>
				<div class="news__number">
					03
				</div>
			</div>
			<!-- end news__item -->
			<!-- begin news__item -->
			<div class="news__item" style="background-image: url('http://placehold.it/640x480');">
				<div class="news__category">
					<div class="year">
						2010
					</div>
					<div class="category">
						<a href="#">Hell and silence</a>
					</div>
				</div>
				<div class="news__title">
					<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
				</div>
				<div class="news__text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
					</p>
				</div>
				<div class="news__number">
					04
				</div>
			</div>
			<!-- end news__item -->
			<!-- begin news__item -->
			<div class="news__item" style="background-image: url('http://placehold.it/640x480');">
				<div class="news__category">
					<div class="year">
						2010
					</div>
					<div class="category">
						<a href="#">Hell and silence</a>
					</div>
				</div>
				<div class="news__title">
					<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
				</div>
				<div class="news__text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
					</p>
				</div>
				<div class="news__number">
					05
				</div>
			</div>
			<!-- end news__item -->
			<!-- begin news__item -->
			<div class="news__item" style="background-image: url('http://placehold.it/640x480');">
				<div class="news__category">
					<div class="year">
						2010
					</div>
					<div class="category">
						<a href="#">Hell and silence</a>
					</div>
				</div>
				<div class="news__title">
					<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
				</div>
				<div class="news__text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
					</p>
				</div>
				<div class="news__number">
					06
				</div>
			</div>
			<!-- end news__item -->
		</div>
	</div>
	<!-- end container -->
</section>
<!-- end news -->
<!-- begin events -->
<section class="events" id="events">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="col-md-offset-6 col-md-6 col-sm-offset-4 col-sm-8">
				<h4 class="main__title fix__stripe blue">
					Upcoming events
				</h4>
			</div>
		</div>
		<!-- end row -->
		<!-- begin row -->
		<div class="row">
			<!-- begin events__items -->
			<div class="events__items">
				<!-- begin events__item -->
				<div class="events__item">
					<div class="col-md-offset-6 col-md-6 col-sm-offset-4 col-sm-8">
						<div class="events__title">
							<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
						</div>
						<div class="events__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
							</p>
						</div>
						<div class="events__category">
							<div class="date">
								01.04.2015
							</div>
						</div>
					</div>
				</div>
				<!-- end events__item -->
				<!-- begin events__item -->
				<div class="events__item">
					<div class="col-md-offset-6 col-md-6 col-sm-offset-4 col-sm-8">
						<div class="events__title">
							<a href="#">Hell and Silence os an EP by Las Vegas rock group</a>
						</div>
						<div class="events__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laudantium mollitia dolore, repellat maxime? Cupiditate fuga nostrum a veritatis eveniet sint velit, accusantium est quam laborum, sit incidunt dolores aperiam, explicabo quis! Aut error quis quasi iste earum recusandae dolore animi soluta, quos eos blanditiis veritatis quas corporis accusantium deleniti!
							</p>
						</div>
						<div class="events__category">
							<div class="date">
								01.04.2015
							</div>
						</div>
					</div>
				</div>
				<!-- end events__item -->
			</div>
			<!-- end events__items -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end events -->
<!-- begin history -->
<section class="history" id="history">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6">
				<h5 class="main__title fix__stripe gray">
					History
				</h5>
			</div>
		</div>
		<!-- end row -->
		<!-- begin row -->
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				<p class="main__description">
					In 2008, lead singer Dan Reynolds met drummer Andrew Tolman at Brigham Young University where they were both students.Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music
				</p>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
	<!-- begin history__slider-wrap -->
	<div class="history__slider-wrap">
		<!-- begin history__slider -->
		<div class="history__slider">
			<!-- begin history__item -->
			<div class="history__item">
				<span class="date">
					{{mixins.svg('circle')}}
					May 09
					{{mixins.svg('circle')}}
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum facere, id magnam enim non nesciunt mollitia nihil porro necessitatibus? Facere.
				</p>
			</div>
			<!-- end history__item -->
			<!-- begin history__item -->
			<div class="history__item">
				<span class="date">
					{{mixins.svg('circle')}}
					May 10
					{{mixins.svg('circle')}}
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum facere, id magnam enim non nesciunt mollitia nihil porro necessitatibus? Facere.
				</p>
			</div>
			<!-- end history__item -->
			<!-- begin history__item -->
			<div class="history__item">
				<span class="date">
					{{mixins.svg('circle')}}
					May 11
					{{mixins.svg('circle')}}
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum facere, id magnam enim non nesciunt mollitia nihil porro necessitatibus? Facere.
				</p>
			</div>
			<!-- end history__item -->
			<!-- begin history__item -->
			<div class="history__item">
				<span class="date">
					{{mixins.svg('circle')}}
					May 12
					{{mixins.svg('circle')}}
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum facere, id magnam enim non nesciunt mollitia nihil porro necessitatibus? Facere.
				</p>
			</div>
			<!-- end history__item -->
			<!-- begin history__item -->
			<div class="history__item">
				<span class="date">
					{{mixins.svg('circle')}}
					May 13
					{{mixins.svg('circle')}}
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum facere, id magnam enim non nesciunt mollitia nihil porro necessitatibus? Facere.
				</p>
			</div>
			<!-- end history__item -->
			<!-- begin history__item -->
			<div class="history__item">
				<span class="date">
					{{mixins.svg('circle')}}
					May 14
					{{mixins.svg('circle')}}
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum facere, id magnam enim non nesciunt mollitia nihil porro necessitatibus? Facere.
				</p>
			</div>
			<!-- end history__item -->
			<!-- begin history__item -->
			<div class="history__item">
				<span class="date">
					{{mixins.svg('circle')}}
					May 15
					{{mixins.svg('circle')}}
				</span>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum facere, id magnam enim non nesciunt mollitia nihil porro necessitatibus? Facere.
				</p>
			</div>
			<!-- end history__item -->
		</div>
		<!-- end history__slider -->
	</div>
	<!-- end history__slider-wrap -->
</section>
<!-- end history -->
<!-- begin contact -->
<section class="contact" id="contact">
	<!-- begin container -->
	<div class="container">
		<!-- begin row -->
		<div class="row">
			<div class="col-md-offset-6 col-md-6 col-sm-offset-4 col-sm-8">
				<h6 class="main__title fix__stripe gray">
					Contact
				</h6>
			</div>
		</div>
		<!-- end row -->
		<!-- begin row -->
		<div class="row">
			<div class="col-md-offset-6 col-md-6 col-sm-offset-4 col-sm-8">
				<p class="main__description">
					Canada Island, Division No. 23, Unorganized, MB, Canada <br>
					<span class="phone">Tel. +1(778) 288 5180</span>
				</p>
			</div>
			<div class="col-md-offset-6 col-md-6 col-sm-offset-4 col-sm-8">
				<!-- begin row -->
				<div class="row">
					<div class="col-sm-9">
						<form action="#" class="contact__form" id="contact__form">
							<input required type="text" placeholder="Name">
							<input required type="email" placeholder="Email">
							<textarea name="Message" placeholder="Message"></textarea>
							<button type="submit">Send</button>
						</form>
					</div>
					<div class="col-sm-3">
						<ul class="contact__social">
							<li>
								<a href="#">
									<span class="facebook"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="instagram"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="twitter"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- end row -->
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end contact -->
{% endblock %}